body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;             
    justify-content: center;    
    align-items: center;         
    flex-direction: column;      
  }
  
  #seksjon {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 600px;
    background-color: black;
  }
  
  h1 {
    font-size: 70px;
    align-self: flex-start;    
    margin: 50px;              
  }
  