<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Index</title> 
    <link rel="stylesheet" href="../static/css/index.css"> 
    <script src="../static/js/index.js"></script>
</head> 

<body onload="getCounts()"> 
    <section id="seksjon1"> 
        <h1>Studentersamfundet - Digital tvilling</h1> 
    </section> 

    <section id="seksjon4"> 
        <h2>3D-modell av huset</h2> 
    </section> 

    <section id="seksjon5"> 
        <p id="p1">Denne 3D modellen gjør det enkelt for alle nye og gamle studenter å utforske Studentersamfundets lokaler virituelt! Ved å klikke deg gjennom huset vil du få en følelse av hvordan det er å navigere seg fra rom til rom og se hvordan de forskjellige lokalene ser ut. </p> 
    </section> 

    <section id="seksjon2">  
        <iframe src="https://my.matterport.com/show/?m=Q2jetfhdEvK&fbclid=IwZXh0bgNhZW0CMTEAAR33R77ZcNZCg2w04ktFTawK0cXYcIiwvCi8GHsZmS3wCDhgUV6FF0iUbW4_aem_8YfZNUPyiVVBmUanlnJM5w" frameborder="0" allowfullscreen allow="autoplay; fullscreen; web-share; xr-spatial-tracking;"></iframe> 
    </section> 

    <section id="seksjon3"> 
        <h3>Kundeflyt</h3> 
        <h4>Hele huset: 400</h4> 
        <h5>Kamera 1:</h5> 
        <p>Edgar inn: <span id="upCount">0</span></p> 
        <p>Edgar ut: <span id="downCount">0</span></p> 
    </section> 

</body> 
</html> 